* {
  margin: 0;
  padding: 0;
  font-family: Sans KR, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
}
.bg_yellow {
  background-color: yellow;  
}

.title {
  font-size: 3rem;
  font-family: Black Han Sans, sans-serif;
  line-height: 1.5;
  border-bottom-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: 5rem;
}
